
[user]
	name = Cosmin Cojocar
	email = cosmin.cojocar@gmx.ch
[core]
	mergeoptions = --no-edit
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	editor = nvim
	commentChar = *
[alias]
    co = checkout
    cob = checkout -b
	ci = commit
	st = status
	br = branch
	discard = !git clean -fd && git checkout -- .
	amend = commit --amend
    curbr = rev-parse --abbrev-ref HEAD
	root = rev-parse --show-toplevel
	fup = fetch -a upstream
	rb = rebase
	rbup = rebase upstream/master
    rau = remote add upstream
	po = push origin
	pocur = !git po $(git curbr)
	pofcur = !git po -f $(git curbr)
	wdiff = diff --color-words
	track = "!f() { git co -b $1 origin/$1; }; f"
	copr = "!f() { git fetch upstream pull/$1/head:pr-$1; git co pr-$1;}; f"
	hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(white)%s %C(bold red)[%an]%C(reset) %C(blue)%d%C(reset)' --graph --date=short
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	d = difftool
    m = mergetool
[color]
	ui = true
[credential]
	helper = osxkeychain
[merge]
    tool = vimdiff
	conflictstyle = diff3
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
    trustExitCode = true
[diff]
	tool = vimdiff
[difftool]
	promt = false
[diff "sopsdiffer"]
	textconv = sops -d
